# freimap configuration file. Please refer to http://www.yaml.org/start.html or http://www.yaml.org/refcard.html for syntax info.
# this is a working configuration for the 24c3
--- 
version: svn
subversion: 60

backgrounds:
  openstreetmap: 
    type: openstreetmap
    # use blank, images or openstreetmap
    delay: 2500
    filter: dark
    cachedir: ./gfx/cache

  bcc-a:
    type: images
    images:
     - gfx:   gfx/bcc-a-uni.png  
       lat:   52.52089531804967
       lon:   13.416420177909853
       scale: 1500000  

  bcc-b:
    type: images
    images:
     - gfx:   gfx/bcc-b-uni.png 
       lat:   52.52089531804967
       lon:   13.416420177909853
       scale: 1500000  

  bcc-c:
    type: images
    images:
     - gfx:   gfx/bcc-c-uni.png 
       lat:   52.52089531804967
       lon:   13.416420177909853
       scale: 1500000  

datasources:
  bcc-coordinates:
    class: net.relet.freimap.FreifunkMapDataSource
    url: "file:data/bcc.xml"
    # url: "http://map.olsrexperiment.de/freifunkmap.php?getArea=52.6351465262243,13.718490600585938,52.39278242102423,13.1011962890625&z=19"

  olsrd-localhost:
    class: net.relet.freimap.OLSRDDataSource
    host: localhost
    port: 2004
#    nodefile: ./data/nodes.dump
    nodesource: freifunk-map
  
  
#  mysql-example:
#    class: net.relet.freimap.MysqlDataSource
#    host:  localhost
#    user:  freimap
#    pass:  secret
#    db:    freifunk
#    tables:
#      nodes: nodes
#      links: links
#  yaml-example:
#    class: net.relet.freimap.YamlDataSource
#    url: "http://db.leipzig.freifunk.net"
